In [2]:
print(250)

250

In [3]:
print("250")

250

In [4]:
print("250.50")

250.50

In [5]:
print(12.50)

12.5

In [6]:
print("Hello123")

Hello123

In [7]:
print("Hello", "Ammy", "Muhammad", sep='#', end=)

SyntaxError: invalid syntax (<ipython-input-7-0b6073d04ca9>, line 1)

In [ ]:
print("HelloBaba")
print("HelloAmmy")
print("HelloMuhammad")

In [ ]:
print("HelloBaba", end='\t') #escape Characters in python
print("HelloAmmy", end='\t')
print("HelloMuhammad", end='\t')

In [ ]:
print("Hello{0}-Hello{1}","Umar","Naveed")

In [ ]:
a1 = 50.00

In [ ]:
type(a1)

In [ ]:
strCity = "Lahore"

In [ ]:
type(strCity)

In [ ]:
int(a1)

In [ ]:
firstName = "Safdar"
secondName = "Jahan"
print(firstName + secondName)

In [ ]:
firstName, secondName = "Safdar ","Jahan"

In [ ]:
print(firstName + secondName)

In [ ]:
num1 = 100
num2 = 200

result = num1/ num2
print("Result:", result, "Float Value")

In [ ]:
#This is first chapter of Python
if num1%2 == 0 and num1<num2:
    print("num1 is less than num2")
    print(num1)
    print(num2)

In [19]:
lstName = ['Safdar','Mona','Ammy','Muhammad Hussain']

In [20]:
lstCity = ["Lahore",'Karachi','Peshawar','Islamabad','Quetta']

In [21]:
lstCity[0]

'Lahore'

In [22]:
lstCity[4]

'Quetta'

In [23]:
len(lstCity)

5

In [42]:
lstFruits = []
lstFruits.clear()

In [43]:
lstFruits.append("apple")
lstFruits.append("orange")

In [52]:
lstFruits
lstFruits.insert(8,"Banana")

In [45]:
#lstFruits.clear()

In [46]:
lstFruits

['Banana', 'apple', 'orange']

In [47]:
lstFruits.extend(["Cherry","Graps","Blue Cherry"])

In [48]:
lstFruits

['Banana', 'apple', 'orange', 'Cherry', 'Graps', 'Blue Cherry']

In [57]:
lstFruits.count("Banana")
lstFruits.index("orange")

2

In [58]:
lstFruits2 = lstFruits.copy()

In [59]:
lstFruits

['Banana', 'apple', 'orange', 'Cherry', 'Graps', 'Blue Cherry', 'Banana']

In [62]:
lstFruits3 = lstFruits
lstFruits.append("peach")

In [65]:
lstFruits

['Banana',
 'apple',
 'orange',
 'Cherry',
 'Graps',
 'Blue Cherry',
 'Banana',
 'peach']

# Removing item from list using del, remove and pop functions

In [ ]:
del lstFruits

In [69]:
lstFruits = lstFruits2

In [70]:
del lstFruits[0]

In [71]:
lstFruits

['apple', 'orange', 'Cherry', 'Graps', 'Blue Cherry', 'Banana']

In [73]:
lstFruits.remove("orange")

In [74]:
lstFruits

['apple', 'Cherry', 'Graps', 'Blue Cherry', 'Banana']

In [82]:

lstCity = ["Lahore",'Karachi','Peshawar','Islamabad','Quetta']

In [84]:
poppedItem = lstCity.pop()
print(f"This city is popped from the list {poppedItem}")
print(f"The remaining cities are {lstCity} after pop operation")

This city is popped from the list Islamabad
The remaining cities are ['Lahore', 'Karachi', 'Peshawar'] after pop operation

In [85]:
lstCity = ["Lahore",'Karachi','Peshawar','Islamabad','Quetta']

In [86]:
poppedCity = lstCity.pop(3)
poppedCity

'Islamabad'

In [87]:
lstCity.sort()

In [88]:
lstCity

['Karachi', 'Lahore', 'Peshawar', 'Quetta']

In [89]:
lstCity.sort(reverse=True)

In [90]:
lstCity

['Quetta', 'Peshawar', 'Lahore', 'Karachi']

In [91]:
lstCity.reverse()

In [92]:
lstCity

['Karachi', 'Lahore', 'Peshawar', 'Quetta']

In [94]:
result = "Karachi" in lstCity

In [95]:
result

True

In [96]:
lstCity.index("Karachi")

0

# SLICING LISTS
#Syntac lstName[Start:End+1]

In [3]:
lstNumber = [2, 4, 6,8, 10,12, 14,17, 20]

In [4]:
lstNumber

[2, 4, 6, 8, 10, 12, 14, 17, 20]

In [5]:
lstNumber[2:6]

[6, 8, 10, 12]

In [6]:
lstNumber[:6]

[2, 4, 6, 8, 10, 12]

In [7]:
lstNumber[2:]

[6, 8, 10, 12, 14, 17, 20]

In [9]:
lstNumber[2:-2]

[6, 8, 10, 12, 14]

In [10]:
lstNumber[-7:-3]

[6, 8, 10, 12]

In [13]:
lstNumber[2:-6]

[6]

In [19]:
lstNumber[0:-2:3]

[2, 8, 14]

In [21]:
lstNumber[::2]

[2, 6, 10, 14, 20]

# Tuples: Tuples are immutables

In [22]:
aTupples = ("Safdar", "Ammy", "Mona")

In [23]:
aTupples

('Safdar', 'Ammy', 'Mona')

In [25]:
#del aTupples[1]

In [26]:
aTupples.count("Mona")

1

In [27]:
aTupples.count("AA")

0

In [28]:
aTupples.index("Mona")

2

In [31]:
aTupples.index("Safdar")

0

In [32]:
bTupples = aTupples

In [33]:
bTupples

('Safdar', 'Ammy', 'Mona')