# Loops for loop

In [1]:
print(range(10))

range(0, 10)

In [2]:
for a in range(5):
    print(a, "Ammy")

0 Ammy
1 Ammy
2 Ammy
3 Ammy
4 Ammy

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [4]:
for number in range(0,10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [6]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [10]:
for number in range(10,0,-3):
    print(number)

10
7
4
1

In [11]:
lstCities = ["Lahore","Karachi","Islamabad"]

In [12]:
for city in lstCities:
    print(f"The city under consideration is {city}")

The city under consideration is Lahore
The city under consideration is Karachi
The city under consideration is Islamabad

In [13]:
lstNumber = [10,11, 15,20,22]
for number in lstNumber:
    print(number)

10
11
15
20
22

In [15]:
strCountry = "Pakistan","Turkey"
for char in strCountry:
    print(char)

Pakistan
Turkey

In [17]:
for number in (10,11, 15,20,22):
    print(number)

10
11
15
20
22

# Using break and continue statement

In [30]:
lstOfNumber = [7,9,11,17,18,21]
for num in lstOfNumber:
    if num%2==0:
        break
    print(num)

7
9
11
17

In [31]:
lstOfNumber = [7,9,11,17,18,21]
for num in lstOfNumber:
    if num%2==0:
        continue
    print(num)

7
9
11
17
21

# Nested for loop

In [32]:
for a in range(10):
    print("Your are enter in inner loop")
    for char in "Pakistan":
        print(a, char)

Your are enter in inner loop
0 P
0 a
0 k
0 i
0 s
0 t
0 a
0 n
Your are enter in inner loop
1 P
1 a
1 k
1 i
1 s
1 t
1 a
1 n
Your are enter in inner loop
2 P
2 a
2 k
2 i
2 s
2 t
2 a
2 n
Your are enter in inner loop
3 P
3 a
3 k
3 i
3 s
3 t
3 a
3 n
Your are enter in inner loop
4 P
4 a
4 k
4 i
4 s
4 t
4 a
4 n
Your are enter in inner loop
5 P
5 a
5 k
5 i
5 s
5 t
5 a
5 n
Your are enter in inner loop
6 P
6 a
6 k
6 i
6 s
6 t
6 a
6 n
Your are enter in inner loop
7 P
7 a
7 k
7 i
7 s
7 t
7 a
7 n
Your are enter in inner loop
8 P
8 a
8 k
8 i
8 s
8 t
8 a
8 n
Your are enter in inner loop
9 P
9 a
9 k
9 i
9 s
9 t
9 a
9 n

In [37]:
tableNumber = int(input("Please enter table number"))
for a in range(1,11):
    print(f"{tableNumber} * {a} = {tableNumber*a}")

Please enter table number6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# Nested for Loop example

In [39]:
tables = int(input("Please enter the table"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

Please enter the table10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# Dictioneries in python

In [1]:
dicData = {"Name":"Safdar", "Age":36, "MobileNo":"03449395553" }

In [2]:
dicData

{'Name': 'Safdar', 'Age': 36, 'MobileNo': '03449395553'}

In [3]:
len(dicData)

3

In [4]:
dicData["Gender"] = "Male"

In [5]:
dicData

{'Name': 'Safdar', 'Age': 36, 'MobileNo': '03449395553', 'Gender': 'Male'}

In [8]:
dicData["Age"]=37

In [9]:
dicData

{'Name': 'Safdar', 'Age': 37, 'MobileNo': '03449395553', 'Gender': 'Male'}

In [16]:
dicData["Age"]

37

In [17]:
dicData

{'Name': 'Safdar', 'Age': 37, 'MobileNo': '03449395553', 'Gender': 'Male'}

In [18]:
dicData["Address"] = "Pak Arab Housing Scheme"

In [19]:
dicData

{'Name': 'Safdar',
 'Age': 37,
 'MobileNo': '03449395553',
 'Gender': 'Male',
 'Address': 'Pak Arab Housing Scheme'}

In [21]:
del dicData["Address"]

In [22]:
dicData

{'Name': 'Safdar', 'Age': 37, 'MobileNo': '03449395553', 'Gender': 'Male'}

In [23]:
dicData["Address"] = "Pak Arab Housing Scheme"

In [24]:
dicData.pop("Address")

'Pak Arab Housing Scheme'

In [25]:
dicData

{'Name': 'Safdar', 'Age': 37, 'MobileNo': '03449395553', 'Gender': 'Male'}

In [26]:
dicData["Address"] = "Pak Arab Housing Scheme"

In [27]:
dicData

{'Name': 'Safdar',
 'Age': 37,
 'MobileNo': '03449395553',
 'Gender': 'Male',
 'Address': 'Pak Arab Housing Scheme'}

In [30]:
for key in dicData.keys():
    print(key)

Name
Age
MobileNo
Gender
Address

In [31]:
for value in dicData.values():
    print(value)

Safdar
37
03449395553
Male
Pak Arab Housing Scheme

In [35]:
for key, value in dicData.items():
    print(f"key {key} : value {value}")

key Name : value Safdar
key Age : value 37
key MobileNo : value 03449395553
key Gender : value Male
key Address : value Pak Arab Housing Scheme

# List of Dictionery

In [39]:
myList = []
myList.append({"Name":"Safdar", "Designation":"System Analyst", "Department":"NFS-CAP"})

In [40]:
myList.append({"Name":"Atif", "Designation":"System Analyst", "Department":"NFS-CAP"})

In [41]:
myList

[{'Name': 'Safdar', 'Designation': 'System Analyst', 'Department': 'NFS-CAP'},
 {'Name': 'Atif', 'Designation': 'System Analyst', 'Department': 'NFS-CAP'}]

In [42]:
myList[0]["Name"]

'Safdar'

In [53]:
#myList = ["Name":{"Safdar","Ali","Hussain"}, "Designation":{"System Analyst","SE","SSE"}, "Department":{"NFS-CAP","NFS-Ascent 1.0","NFS-Ascent 2.0"}]
#myList = ["Name":{"Safdar","Atif","Fareed","Hussain"},"Designation":{"System Analyst","System Analyst","Senior Software Eng","Software Eng"}]

SyntaxError: invalid syntax (<ipython-input-53-c7646f220a78>, line 2)

In [43]:
myDic = {}

In [44]:
myDic = {"Name":["Safdar","Atif","Fareed","Hussain"],"Designation":["System Analyst","System Analyst","Senior Software Eng","Software Eng"]}

In [45]:
myDic

{'Name': ['Safdar', 'Atif', 'Fareed', 'Hussain'],
 'Designation': ['System Analyst',
  'System Analyst',
  'Senior Software Eng',
  'Software Eng']}

In [47]:
myDic["Name"].insert(4,"Faisal")

In [48]:
myDic

{'Name': ['Safdar', 'Atif', 'Fareed', 'Hussain', 'Faisal'],
 'Designation': ['System Analyst',
  'System Analyst',
  'Senior Software Eng',
  'Software Eng']}

# Dictionery, hold of Dictionery

In [61]:
myDic2 = {"FName":"Safdar Jahan", "MName":"Sadaf Safdar", "Children":{"Aima Safdar":{"Age":4, "Gender":"Baby Girl"},"Muhammad Hussain":{"Age":2.5,"Gender":"Baby Boy"}}}

In [62]:
myDic2

{'FName': 'Safdar Jahan',
 'MName': 'Sadaf Safdar',
 'Children': {'Aima Safdar': {'Age': 4, 'Gender': 'Baby Girl'},
  'Muhammad Hussain': {'Age': 2.5, 'Gender': 'Baby Boy'}}}

In [63]:
myDic2["Children"]["Muhammad Hussain"]

{'Age': 2.5, 'Gender': 'Baby Boy'}